<nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
      <div class="flex justify-between items-center">
        <span class="tex -2xl cursor-pointer">
          <img class="h-10 inline" src="./images/cartoon-platypus.png" > The Dancing Platypus
        </span>
        <span class="text-3xl cursor-pointer mx-2 md:hidden block">
          <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
        </span>
      </div>
      <ul
        class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500"
      >
      <li class="mx-4 my-6 md:my-0"> 
                <a href="/dashboard" class="text-cyan-600">Back to Game</a>
              </li> 
                <p class="bg-cyan-400 cursor-pointer rounded-md duration-500 px-6 py-2 mx-4 hover:bg-slate-500 hover:outline outline-2 outline-black outline-offset-2 text-sm">  
               
                <a href="/signin" class="text-white">Sign Out</a>
              </p>
      </ul>

</nav>

