<nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
      <div class="flex justify-between items-center">
        <span class="tex -2xl cursor-pointer">
          <img class="h-10 inline" src="./images/cartoon-platypus.webp" > The Dancing Platypus
        </span>
        <span class="text-3xl cursor-pointer mx-2 md:hidden block">
          <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
        </span>
      </div>

    </nav>