.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}


/* .text-box {
    font-size: 10px;
    font-family: Sans-serif;
    position:absolute;
    transform: translate(-50%,-50%)
} */
span{
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
}
@keyframes mover{
    0%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    50%{
        text-shadow: 0 0 30px rgba(0,0,0,0.30);
        transform: translateY(20px);

    }
    100%{
        text-shadow: 0 0 30px rgba(0,0,0,);
    }

} 
